# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terragrunt
.terragrunt-cache/
terragrunt-debug.tfvars.json

# SSH keys generated
*.pem

# OS
.DS_Store
Thumbs.db
